# Segmenting and Clustering Neighborhoods in Toronto, Part 1

The purpose of this assignment is to explore, segment, and cluster the neighborhoods in the city of Toronto. This is the week 3 graded assignment, though the shared link for this notebook ends with the last bullet that says "in the last cell of your notebook, use the .shape method to print the number of rows to your dataframe."

In [1]:
import pandas as pd 
import numpy as np

Importing table from the wikipedia website as a dataframe.

In [9]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
nbhds = pd.read_html(link)[0]

In [11]:
nbhds.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Renaming Postal Code column to match example.

In [13]:
toronto = nbhds.rename(columns={'Postal Code': 'PostalCode'})
toronto.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

Removing rows where borough is not assigned. Checking size before cleaning.

In [14]:
toronto.shape

(180, 3)

In [15]:
toronto = toronto[toronto.Borough != "Not assigned"]
toronto.shape

(103, 3)

In [16]:
toronto.head()

  PostalCode           Borough                                 Neighborhood
2        M3A        North York                                    Parkwoods
3        M4A        North York                             Victoria Village
4        M5A  Downtown Toronto                    Regent Park, Harbourfront
5        M6A        North York             Lawrence Manor, Lawrence Heights
6        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Checking to see if there are any duplicate postal codes as mentioned in the directions.

In [24]:
toronto[toronto.duplicated(['PostalCode'])].shape

(0, 3)

Note: The table on the wikipedia page has already been cleaned up since the description for the assignment was posted. M5A does not appear twice nor do any other postal codes. The table already notes when there are more than 1 neighborhood in a postal code.

Checking for any not assigned neighborhoods

In [22]:
toronto[toronto['Neighborhood']=='Not assigned'].shape

(0, 3)

There are no instances of neighborhoods with the value 'Not assigned.' 

Last step: using .shape to print the number of rows in my data

In [25]:
toronto.shape

(103, 3)